// Custom application specific styles
//--------------------------------------


body {
  //background:url(../img/bg-fabric-gray.jpg) 0 0 #f5f5f5;
}

#toolbar + #topbar {
  margin-top: @navbar-height;
}

#topbar {
  padding-top: @navbar-height;
}

#logo {
  background: url(../img/logo.png) no-repeat 0 0 transparent;
  .size(185px, 85px);
  display: block;
  text-indent: -9999px;
  overflow: hidden;
}

#sections {
  margin-top: @line-height-base;
  #gradient > .vertical(#4b4b4b, #333);
  #main-nav {
    li {
      border-left: 2px solid #000;
      border-right: 1px solid @grayLight;
      &.active a {
        background: #d82020;
        #gradient > .vertical(#d82020, darken(#d82020, 20%));
      }
    }
    li > a {
      padding: @line-height-base;
      text-transform: uppercase;
      font-size: @font-size-base - 2px;
    }
  }
}

// Content area
// --------------------------

#content-wrapper {
  padding: @navbar-height 0;
  color: @grayLighter;
  background: @gray;
  .box-shadow(0 8px 6px -6px @gray);
}


// folia styles for a HMTL5 based site footer
body > footer {
    margin-top: @line-height-base;
    padding: @line-height-base 0;
    border-top: 1px solid @grayLighter;
}
